@font-face {
  font-family: "Antonio Bold";
  src: url("../assets/font/Antonio-Bold.ttf"); }

@font-face {
  font-family: "Antonio Ligera";
  src: url("../assets/font/Antonio-Light.ttf"); }

@font-face {
  font-family: "Avenir Bold";
  src: url("../assets/font/AvenirNextLTPro-Bold.ttf"); }

#portada {
  overflow: hidden;
  height: 85vh;
  background-image: url("../img/portada.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: #DCEDF6;
  position: relative; }

.contenedorPortada {
  position: absolute;
  width: 100%;
  z-index: 2;
  -moz-z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (30vh)[2];
  -ms-grid-columns: (50%)[2];
  grid-template: repeat(2, 30vh)/repeat(2, 50%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  border: 3px solid #D1003E; }

.itemContenidoPortada {
  text-transform: uppercase;
  color: #004242; }
  .itemContenidoPortada .logotipo img {
    height: 20vh; }
  .itemContenidoPortada .fecha h4 {
    font-size: 36px;
    font-family: "Antonio Bold";
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0; }
  .itemContenidoPortada .fecha h5 {
    font-size: 14px;
    font-family: "Avenir Bold"; }

#convocatoria {
  height: 15vh;
  background-color: #004242; }
