/*===============  Página de inicio  ==================*/
header{
  background: $azul;
  height: 5vh;
  color: $aqua;

}
.logotipoMenu img{
  height: 13vh;
  margin: 30px 0 30px 0;
}
.menuPrincipal{
  background: $azul;
  height: 100%;
  min-height: 95vh;
}
main {
  color: #545454;
}
