#portada{
  overflow: hidden;
  height: 85vh;
  background-image: url("../img/portada.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: $azul;
  position: relative;
  @media screen and (max-width: 580px){
    background-image: url("../img/paisajeMovil.png");
    height: 92vh;
  }
}
.contenedorPortada{
  position: absolute;
  width: 100%;
  z-index: 2;
  -moz-z-index: 2;
  display: grid;
  grid-template: auto / repeat(2, 50%);
  align-items: center;
  justify-items: center;
  @media screen and (max-width: 580px){
    grid-auto-columns: 100%;
    grid-template-rows: 30vh 20vh 40vh;
  }
}
.itemContenidoPortada{
  text-transform: uppercase;
  color: $colorPrimary;
  // border: 3px solid $rojo;
  align-content: center;
  .logotipo img{
    height: 20vh;
  }
  .fecha h4{
    font-size: 36px;
    font-family: "Antonio Bold";
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  .fecha h5{

    font-size: 14px;
    font-family: "Avenir Bold";
  }
}
.itemContenidoPortada:nth-of-type(3){
  grid-column: 1 / span 3;
  @media screen and (max-width: 580px){
    grid-column: 1 / span 2;
  }
}
.itemContenidoPortada:nth-of-type(1),
.itemContenidoPortada:nth-of-type(2){
  @media screen and (max-width: 580px){
  grid-column: 1 / span 2;
  }
}
